<style>
body {
  color: blue;
  background-color: #4169E1;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table, td {
		 border: 2px solid #4169E1;

		}
		table {
			width:40%;
			}
body {
  color: #FFFFFF;
  background-color: #4169E1;
}

@media only screen and (max-width: 769px) {
  body {
    background-color: #4169E1;
	color: #4169E1;
  }
}

h2 {
  color: #4169E1;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
h1 {
	color:#4169E1;
	font-family: "Algerian"
	
	}
	


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
